body, html {
  font-size: 14px;
  font-family: monospace, serif;
  background-color: #B0B7CA;

}
div.top-container{
  position: relative;


}

div.top-container h1 {
  margin: 0;
  position:absolute;
  left: 50%;

  transform: translate(-50%, 0);
}

img{
  padding-right: 5%;
  float: left;
}

#intro{
  padding-top: 10rem;
  width: 25%;
}

#registry{
  background-color: #98B790;
  position: absolute;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer{
  margin-top: 25%;
  float: right;
}
